<label>Elige Tarjeta:</label>
<select id="card">
    {{#each paymethods}}
        {{#if selected}}
            <option value="{{id}}" selected>{{name}}</option>
        {{else}}
            <option value="{{id}}">{{name}}</option>
        {{/if}}
    {{/each}}
</select>
